body {
    background-image: url('https://img.freepik.com/premium-photo/zoom-texture-amoeba-microphotography_626849-3923.jpg?w=1380');
    background-size: cover;
    background-repeat: no-repeat;
}

/* .col-md-12.jumbotron.text-center {
    background-image: url('https://img.freepik.com/premium-photo/zoom-texture-amoeba-microphotography_626849-3923.jpg?w=1380');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
}    */