#custom-bg {
    background-image: url('https://img.freepik.com/free-vector/virus-particles-interacting-with-antibody-molecules_52683-41602.jpg?w=2000&t=st=1673358537~exp=1673359137~hmac=41f7ee5e7995f311792c34e53eb9f035305313f7254bfa1b8ca907d43fcb22dc');
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

#text {
    font-weight: bold;
    font-size: large;
}

.col-md-12.jumbotron.text-center {
    background-image: url('https://img.freepik.com/free-vector/virus-particles-interacting-with-antibody-molecules_52683-41602.jpg?w=2000&t=st=1673358537~exp=1673359137~hmac=41f7ee5e7995f311792c34e53eb9f035305313f7254bfa1b8ca907d43fcb22dc');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
}   